* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(26, 4, 36);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: aliceblue;
}

ul {
    list-style: none;
}

.section-1 {
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
}

.input-div {
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: flex;
    min-height: 30vh;
    min-width: 30vh;
    background-color: rgba(255, 235, 205, 0.5);
    border: 2px solid black;
    border-radius: 5px;
}

.string-input-ul {
    display: flex;
    align-items: center;
    padding: 30px;
}

.string-input-ul li {
    padding-right: 10px;
}

.input-div button {
    min-width: 100px;
    background-color: rgba(248, 255, 190, 0.575);
    border-radius: 6px;
}

.input-div button:hover {
    background-color: rgb(255, 103, 255);
    cursor: pointer;
    border-color: rgb(58, 6, 59);
}

.text-input {
    min-height: 40px;
}